<a href="https://colab.research.google.com/github/kavithareddy311/Python/blob/master/OOPs_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# define class, object, method, method with arguments
class Name:
    Var ="my first class"
    Num = 1
    def Add(self):
        print(5+10)
    def AddNum(self,Num1):
        Num1 += self.Num
        print(Num1)

In [0]:
NameVar = Name()
print(NameVar.Var)
NameVar.Add()
NameVar.AddNum(30)
NameVar1 = Name()
NameVar1.Var = "override object instance"
print(NameVar.Var,"\n",NameVar1.Var)

my first class
15
31
my first class
 override object instance

In [0]:
# init method in Python, using class variable in methods
class NewStudent:
    Num = 0
    def __init__(self,name,branch,course):
        self.n = name
        self.b = branch
        self.c = course
    def PrintDetails(self):
        print("name",self.n)
        print("branch",self.b)
        print("course",self.c)
    def NumofStu(self,Num1):
        print("initial number of students",self.Num)
        self.Num = Num1*5
        print("number of students after initialize",self.Num)

In [0]:
# using init method
Student1 = NewStudent("kavitha","MCA","Maths")
Student1.PrintDetails()
print("First Class Variable Value", Student1.Num)
Student1.NumofStu(1)
print("After calling funcation Class Variable Value", Student1.Num)
Student1.Num = 2
print("After reassigning Class Variable Value", Student1.Num)
Student1.NumofStu(1)
print("After re calling funcation Class Variable Value", Student1.Num)

name kavitha
branch MCA
course Maths
First Class Variable Value 0
initial number of students 0
number of students after initialize 5
After calling funcation Class Variable Value 5
After reassigning Class Variable Value 2
initial number of students 2
number of students after initialize 5
After re calling funcation Class Variable Value 5

In [0]:
# Inheritance
#implementing single inheretance
class fruit:
    def __init__(sefl):
        print('I am parent class of all fruits')
    def Name(self, FruitName):
        print("i am a fruit","\n","My name is",FruitName)

class citrus(fruit):
    def __init__(self):
        super().Name("Lemon")
        print("i am belog to citurs group") 

class Sweet(fruit):
    def __init__(self):
        super().Name("bananna")
        print("i am belog to sweet group")

In [0]:
Lemon = citrus()
bananna = Sweet()

i am a fruit
 My name is Lemon
i am belog to citurs group
i am a fruit
 My name is bananna
i am belog to sweet group